
body{
    margin: 0;
}

.container{
    background-color: blue; /* Color of the outer div */
    display: flex; /* Enables flexbox layout */
    flex-direction: column;
    justify-content: center; /* Centers the inner div horizontally */
    align-items: center; /* Centers the inner div vertically */
    height: 100vh;
    width: 100vw; 
}

.page{
    display: flex;
    width: 80%;
    height: 80%;
    background: lightblue;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.list1,.list2{
    background-color: yellow;   
    width: 40%;
    height: auto;
    margin: 5px auto;
    padding: 10px;
    border-radius: 4px;
}

.list1{
    display: grid;
    
}
.list1 img{
    width: 500px;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px; 
    

}
.list2{
}


h1{
    display: grid;
    align-items: center;
    background-color: darkblue;
    padding: 15px;
    border-radius: 10px;
}   